 @use './variaveis';
 
 .relogio{
    padding: 80px 0;
    background-image: 
        url(../image/polvo.png),
        linear-gradient(180deg, variaveis.$corBlueR1, variaveis.$corBlueR2);


        background-repeat: no-repeat;
        background-size: auto,cover ;
        background-position: 4% 25px , center;


    &__contagem{
        display: flex;
        text-align: center;
        font-size: 30px;
        color: white;


        span{
        background-image: url(../image/fundo89.png);
        background-repeat: no-repeat;
        background-size: 224px 224px;
        padding: 4.7vw;
        background-position: center;
        font-weight: 800;
        color: white;
        text-shadow: 2px 2px 14px variaveis.$corBlueHero;

        }
    }
    &__title{
            font-size: 39px;
            color: white;
            text-shadow: 2px 2px 14px variaveis.$corBlueHero;
            text-align: center;
            margin-bottom: 5vw;
            font-family: "DynaPuff", system-ui;
        }


    @media (max-width: 640px){
        background-image:  linear-gradient(180deg, variaveis.$corBlueR1, variaveis.$corBlueR2);
        background-position: center;

        &__contagem{
            flex-wrap:wrap ;
            row-gap: 24px;
        }
        span{
            padding: 15.9vw;
            font-size: 19px;
            background-size: contain;
        }
    }

    @media (max-width:1024px){
        background-image:  linear-gradient(180deg, variaveis.$corBlueR1, variaveis.$corBlueR2);
        background-position: center;

        &__contagem{
            display: flex;
            justify-content: center;
        }
        &__title{
            margin-bottom: 5vw;
        }

        span{
           
            background-size: contain;
        }
    }
    @media (max-width:1441px){
        
        
        &__contagem{
            justify-content: center;
        }
        span{
            background-size: contain;
        }


    }
    
 }
 
 
